Repository Exifly/ApiVault, pull requests merged in 2023-06, with the labels that each got.

#193 added dinamyc meta description
  frontend/pages/categories/[category].vue
Labels: enhancement, frontend

#195 [Hot Fix] Added useLazyFetch to fetch github data on CSR
  frontend/package.json
  frontend/services/GithubServices.ts
Labels: bug, frontend

#199 fix/firebase
  frontend/models/types.d.ts
  frontend/plugins/firebase.client.ts
Labels: bug, frontend

#200 v2.0.2
  frontend/components/Footer.vue
  frontend/models/types.d.ts
  frontend/package.json
  frontend/pages/cookie-policy.vue
  frontend/pages/index.vue
  frontend/pages/privacy-policy.vue
  frontend/plugins/firebase.client.ts
Labels: release

#201 Feat/skeleton loading
  frontend/assets/styles/animations.scss
  frontend/assets/styles/main.css
  frontend/components/TrendCategory.vue
  frontend/components/animation/CardSkeleton.vue
  frontend/components/generics/Card.vue
  frontend/package.json
  frontend/pages/categories/[category].vue
  frontend/pages/index.vue
  package-lock.json
Labels: enhancement, frontend

#202 Fix/sitemap robots for SEO
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/yarn.lock
Labels: enhancement, good first issue, frontend

#203 v2.0.4
  README.md
  frontend/assets/styles/animations.scss
  frontend/assets/styles/main.css
  frontend/components/TrendCategory.vue
  frontend/components/animation/CardSkeleton.vue
  frontend/components/generics/Card.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/categories/[category].vue
  frontend/pages/index.vue
  frontend/yarn.lock
  package-lock.json
Labels: release

#204 [Hot fix] v2.0.5
  frontend/nuxt.config.ts
Labels: hot fix

#206 refactoring and optimization for theme handler
  frontend/assets/styles/main.css
  frontend/components/Navbar.vue
  frontend/composables/theme.ts
  frontend/nuxt.config.ts
  frontend/pages/index.vue
  frontend/utils/themeutils.ts
Labels: enhancement, frontend

#208 Fix/dynamic seo meta
  frontend/components/Hero.vue
  frontend/nuxt.config.ts
  frontend/pages/categories/[category].vue
Labels: enhancement, frontend

#210 FEATURE: Google authentication and Login system
  backend/apivault/settings.py
  backend/apivault/urls.py
  backend/authentication/api.py
  backend/authentication/google.py
  backend/authentication/models.py
  backend/authentication/register.py
  backend/authentication/serializer.py
  backend/authentication/urls.py
  backend/interaction/models.py
  backend/requirements.txt
Labels: enhancement, backend

#211 Feat/login system
  backend/apivault/settings.py
  backend/apivault/urls.py
  backend/authentication/api.py
  backend/authentication/google.py
  backend/authentication/models.py
  backend/authentication/register.py
  backend/authentication/serializer.py
  backend/authentication/urls.py
  backend/docker/Dockerfile
  backend/interaction/models.py
  backend/requirements.txt
  frontend/.env.dev
  frontend/assets/styles/main.css
  frontend/components/FaviconCardApi.vue
  frontend/components/LoadMoreButton.vue
  frontend/components/Navbar.vue
  frontend/components/Sidebar.vue
  frontend/components/generics/Button.vue
  frontend/components/generics/Card.vue
  frontend/components/user/InfoMenu.vue
  frontend/models/types.d.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/contributors.vue
  frontend/pages/index.vue
  frontend/plugins/fontawesome.ts
  frontend/services/ApivaultServices.ts
  frontend/services/AuthServices.ts
  frontend/yarn.lock
Labels: enhancement, dependencies, frontend, backend

#212 Feat/like bookmark button
  frontend/components/CardAPI.vue
  frontend/components/TrendCategory.vue
  frontend/components/generics/BookmarkButton.vue
  frontend/components/generics/LikeButton.vue
  frontend/components/generics/LikeNumber.vue
  frontend/nuxt.config.ts
  frontend/plugins/fontawesome.ts
Labels: enhancement, frontend

#215 Fix/interaction hover effect and optimised
  frontend/components/CardAPI.vue
  frontend/components/generics/BookmarkButton.vue
  frontend/components/generics/LikeButton.vue
Labels: enhancement, frontend

#218 feat/added a dropdown Menu when user is logged to choose what to do.
  frontend/assets/styles/animations.scss
  frontend/assets/styles/main.css
  frontend/components/Navbar.vue
  frontend/components/user/InfoMenu.vue
  frontend/components/user/Menu.vue
  frontend/package.json
  frontend/plugins/fontawesome.ts
  frontend/public/img/user/user-default-img.png
  frontend/yarn.lock
Labels: enhancement, frontend

#214 Fix/be fe sync and code refactoring
  backend/apivault/settings.py
  backend/fixtures/vault.json
  backend/interaction/urls.py
  backend/requirements.txt
  backend/vault/api.py
  backend/vault/serializers.py
  frontend/assets/styles/main.css
  frontend/components/CardAPI.vue
  frontend/components/FaviconCardApi.vue
  frontend/components/Navbar.vue
  frontend/components/SearchBar.vue
  frontend/components/ToggleButton.vue
  frontend/components/generics/BookmarkButton.vue
  frontend/components/generics/LikeButton.vue
  frontend/components/generics/ToastNotification.vue
  frontend/models/types.d.ts
  frontend/pages/categories/[category].vue
  frontend/pages/index.vue
  frontend/services/ApivaultServices.ts
  frontend/services/AuthServices.ts
Labels: enhancement, frontend

#219 Feat/submit api form
  backend/fixtures/apis.json
  backend/fixtures/categories.json
  frontend/assets/styles/main.css
  frontend/components/CardAPI.vue
  frontend/components/Navbar.vue
  frontend/components/SearchBar.vue
  frontend/components/ToggleButton.vue
  frontend/components/animation/SuccessCheckmark.vue
  frontend/components/generics/Modal.vue
  frontend/components/user/Menu.vue
  frontend/composables/theme.ts
  frontend/models/types.d.ts
  frontend/nuxt.config.ts
  frontend/pages/categories/[category].vue
  frontend/pages/functions/searchEngine.ts
  frontend/pages/index.vue
  frontend/plugins/fontawesome.ts
  frontend/services/ApivaultServices.ts
Labels: bug, enhancement, frontend
