Repository Exifly/ApiVault, pull requests merged in 2023-05, with the labels that each got.

#70 fixed heigth on mobile screen to show all categories
  frontend/src/components/Navbar.vue
Labels: bug, frontend

#73 modified card tags color
  frontend/src/style.css
Labels: enhancement, frontend

#85 added scale transition
  frontend/src/components/Card.vue
Labels: enhancement, frontend

#87 Fix tag color and dark theme default
  frontend/src/style.css
  frontend/src/utilities/themeHandler.js
Labels: bug, frontend

#88 v1.2.7
  .github/ISSUE_TEMPLATE/report-an-api.md
  README.md
  backend/data/entries.json
  frontend/.env.sample
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Card.vue
  frontend/src/components/Footer.vue
  frontend/src/components/Hero.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/SearchBar.vue
  frontend/src/main.js
  frontend/src/pages/ContributorsView.vue
  frontend/src/pages/Dashboard.vue
  frontend/src/pages/categories/[category].vue
  frontend/src/style.css
  frontend/src/utilities/themeHandler.js
Labels: release

#90 Fix #89 - Count API return wrong number
  backend/data/entries.json
  backend/start.py
Labels: bug, backand

#99 updated meta keywords on index.html
  frontend/index.html
Labels: enhancement, frontend

#100 Fixed cards height Issue
  frontend/src/components/Card.vue
  frontend/src/pages/categories/[category].vue
  frontend/src/style.css
Labels: bug, frontend

#111 Display trending categories in home page
  frontend/src/components/TrendCategory.vue
  frontend/src/components/api/trendCategories.js
  frontend/src/layouts/ContentBody.vue
  frontend/src/main.js
  frontend/src/utilities/categoryMapping.js
Labels: enhancement, frontend

#118 Cards and Repository links opens in a new tab
  frontend/src/components/Sidebar.vue
  frontend/src/pages/Dashboard.vue
  frontend/src/pages/categories/[category].vue
Labels: enhancement, frontend

#121 changed hover scale effect
  frontend/src/components/Card.vue
Labels: enhancement, frontend

#132 Changed a link on the footer for software version string (Issue #131)
  frontend/src/components/Footer.vue
Labels: enhancement, frontend

#139 placed padding in a tag to fix routing issue
  frontend/package-lock.json
  frontend/src/components/Sidebar.vue
Labels: bug, frontend

#151 Issue 144 new card style -> #144
  frontend/src/components/Card.vue
  frontend/src/components/CardAttributes.vue
  frontend/src/components/FaviconCardApi.vue
  frontend/src/components/LoadMoreButton.vue
  frontend/src/components/TrendCategory.vue
  frontend/src/layouts/ContentBody.vue
  frontend/src/style.css
Labels: enhancement, frontend

#156 removed border from load more button
  frontend/src/components/LoadMoreButton.vue
Labels: enhancement, frontend

#158 Load spinner on load more (loading state)
  frontend/src/components/LoadMoreButton.vue
  frontend/src/components/LoadingEffectSmall.vue
  frontend/src/pages/Dashboard.vue
Labels: enhancement, frontend

#160 Fix load more on mobile
  frontend/src/components/Card.vue
  frontend/src/components/LoadMoreButton.vue
Labels: bug, frontend

#168 Adjusted website to top
  frontend/src/components/Hero.vue
  frontend/src/layouts/ContentBody.vue
Labels: bug, frontend

#167 fix: issue #164
  frontend/src/style.css
Labels: bug, frontend

#179 Colorscheme refactoring and fixes
  frontend/app.vue
  frontend/assets/styles/main.css
  frontend/components/CardAPI.vue
  frontend/components/Footer.vue
  frontend/components/Navbar.vue
  frontend/components/ToggleButton.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/utils/themeutils.ts
Labels: documentation, enhancement, frontend

#181 When clicked on the subtitle of a card, the user is redirected to tha…
  .env.dev
  frontend/components/CardAPI.vue
  frontend/yarn.lock
  package-lock.json
Labels: enhancement, good first issue, frontend

#186 Not https text wrap on mobile devices fixed.
  frontend/components/CardAttributes.vue
Labels: bug, frontend

#187 Added highlighting to active category
  frontend/components/Sidebar.vue
Labels: bug, frontend

#190 added text-wrapper class on h5 tag
  frontend/components/Hero.vue
Labels: bug, frontend

#191 Fix/seo problems
  frontend/assets/styles/animations.scss
  frontend/assets/styles/main.css
  frontend/components/Footer.vue
  frontend/components/Navbar.vue
  frontend/components/Sidebar.vue
  frontend/nuxt.config.ts
  frontend/pages/categories/[category].vue
  frontend/pages/contributors.vue
  frontend/pages/index.vue
Labels: enhancement, frontend
